:root {
  --container-width: 1000px;
  --border-radius: 8px;
  --white: #FFFFFF;
  --black: #000000;
  --dark: #222328;
  --blue: #2F80ED;
  --blue-light: #EEF6FF;
  --grey-light: #FBFBFB;
  --grey-dark: #BFCAD8;
  --gradient-blue: linear-gradient(0deg, #2F80ED -57.22%, #4D99FF 154.05%);
  --gradient-pink: linear-gradient(270deg, #BD00FF -26.43%, #FF008A 49.98%, #FFB03A 126.39%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  background: var(--blue-light);
  margin: 0 var(--body-margin-right) 0 0;
}
body.isNoScroll {
  overflow: hidden;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

.app {
  overflow: hidden;
}

.link {
  text-decoration: none;
}
.link--header {
  color: var(--white);
  margin-left: 60px;
  text-transform: lowercase;
  font-weight: 600;
  font-size: 16px;
}
@media (max-width: 767px) {
  .link--header {
    margin-left: 30px;
    font-size: 14px;
  }
  .link--header:first-of-type {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .link--header {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: 35px;
    font-size: 23px;
  }
}

.anchor {
  position: relative;
  top: -50px;
}

.img {
  width: 100%;
  height: 100%;
  position: relative;
}
.img--plus:before {
  content: "";
  display: block;
  width: calc(100% - 18px);
  height: 2px;
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
}
.img--plus:after {
  content: "";
  display: block;
  width: 2px;
  height: calc(100% - 18px);
  background: var(--white);
  position: absolute;
  left: 50%;
  top: 9px;
  transform: translateX(-50%);
}
.img--minus:after {
  content: "";
  display: block;
  width: calc(100% - 18px);
  height: 2px;
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
}
.img--line {
  display: block;
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 2px;
  z-index: 1;
}
.isActive .img--top-line {
  transform: rotate(45deg) translate(6px, 6px);
}
.isActive .img--mid-line {
  transform: rotate(-45deg);
}
.isActive .img--bot-line {
  opacity: 0;
}

.circle {
  background: var(--gradient-blue);
  color: var(--white);
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle--small {
  width: 30px;
  height: 30px;
  font-weight: 500;
  min-width: 30px;
}
.circle--standard {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  font-weight: 500;
  font-size: 14px;
}

.box {
  display: flex;
}
.box--header {
  width: 100%;
  justify-content: flex-end;
}
.box--form {
  background: var(--blue);
  border-radius: var(--border-radius);
  padding: 28px 40px 15px;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
}
@media (max-width: 976px) {
  .box--form {
    padding: 20px 20px 15px;
  }
}
@media (max-width: 767px) {
  .box--form {
    padding: 15px 20px 15px;
    margin: 0 -30px;
    width: 90%;
    margin: auto;
    max-width: 450px;
  }
}
@media (max-width: 480px) {
  .box--form {
    width: calc(100% + 16px);
    margin-left: -8px;
  }
}
.box--inputs {
  margin-right: 20px;
  width: 100%;
}
@media (max-width: 767px) {
  .box--inputs {
    flex-wrap: wrap;
    margin-right: 0;
  }
}
.box--radio {
  margin-top: 15px;
  align-items: center;
}
.box--submit {
  width: 90%;
}
@media (max-width: 976px) {
  .box--submit {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .box--submit {
    flex-wrap: wrap;
  }
}
.box--numbers {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-content: center;
}
.box--howitworks {
  flex-wrap: wrap;
}
.box--features {
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
@media (max-width: 600px) {
  .box--prizes {
    width: 165px;
  }
}
.box--prizes-text {
  margin-left: 20px;
}
@media (max-width: 976px) {
  .box--prizes-text {
    margin-left: 10px;
  }
}
.box--accordeon-item {
  flex-wrap: wrap;
  margin-top: 35px;
}
@media (max-width: 480px) {
  .box--accordeon-item {
    margin-top: 20px;
  }
}
.box--accordeon-visible-part {
  width: 100%;
  align-items: center;
}
.box--accordeon-visible-part > * {
  cursor: pointer;
}
.box--accordeon-invisible-part {
  opacity: 0;
  height: 0;
  transform: translateY(-20%);
}
.box--accordeon-invisible-part.isVisible {
  transition: opacity ease-in-out 300ms, transform ease-in-out 300ms;
  opacity: 1;
  height: auto;
  transform: translateY(0);
}
.box--hamburger {
  width: 33px;
  flex-wrap: wrap;
  display: none;
  z-index: 10;
}
@media (max-width: 480px) {
  .box--hamburger {
    display: flex;
  }
}
@media (max-width: 480px) {
  .box--nav {
    display: none;
  }
  .box--nav.isVisible {
    display: flex;
    position: fixed;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--dark);
    z-index: 9;
    flex-wrap: wrap;
    padding-top: 70px;
  }
}

.container {
  width: calc(100% - 60px);
  margin: auto;
}
@media (max-width: 480px) {
  .container {
    width: calc(100% - 50px);
  }
}
.container--lg {
  width: calc(100% - 60px);
}
.container--md {
  max-width: 1440px;
}
.container--sm {
  max-width: 1140px;
}

.input {
  background: transparent;
  font-family: "Raleway", sans-serif;
}
.input--text {
  padding: 15px 18px;
  color: var(--grey-dark);
  width: 100%;
  border: 1px solid var(--grey-dark);
}
@media (max-width: 767px) {
  .input--text {
    border-radius: var(--border-radius);
    margin-top: 10px;
  }
}
.input--checkbox:checked {
  filter: sepia(100%) brightness(80%) hue-rotate(170deg) saturate(70%) contrast(300%);
}
.input--button {
  padding: 15px 38px;
  background: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}
@media (max-width: 767px) {
  .input--button {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
.input + input {
  border-left: none;
}
@media (max-width: 767px) {
  .input + input {
    border: 1px solid var(--grey-dark);
  }
}
.input:first-of-type {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .input:first-of-type {
    border-radius: var(--border-radius);
  }
}
.input:last-of-type {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .input:last-of-type {
    border-radius: var(--border-radius);
  }
}
.input::placeholder {
  color: var(--grey-dark);
  text-transform: capitalize;
}
.input:focus {
  outline: none;
  color: var(--white);
}

.row {
  display: flex;
}
.row--howitworks {
  margin: 0 -15px;
}
@media (max-width: 1200px) {
  .row--howitworks {
    flex-wrap: wrap;
  }
}
.row--numbers {
  margin: 0 -50px;
}
@media (max-width: 1200px) {
  .row--numbers {
    margin: 0 -20px;
  }
}
@media (max-width: 767px) {
  .row--numbers {
    flex-wrap: wrap;
  }
}
.row--prizes {
  flex-wrap: wrap;
}
@media (max-width: 400px) {
  .row--prizes {
    flex-wrap: nowrap;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (max-width: 767px) {
  .row--features {
    flex-wrap: wrap;
  }
}

.col--numbers {
  width: 25%;
  margin: 0 50px;
}
@media (max-width: 1200px) {
  .col--numbers {
    margin: 0 20px;
  }
}
@media (max-width: 767px) {
  .col--numbers {
    width: calc(50% - 40px);
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .col--numbers {
    width: 100%;
    margin-top: 50px;
  }
}
.col--howitworks {
  width: 20%;
  margin: 30px 15px 0;
}
@media (max-width: 1200px) {
  .col--howitworks {
    width: calc(33.3333333333% - 30px);
  }
}
@media (max-width: 767px) {
  .col--howitworks {
    width: calc(50% - 30px);
  }
}
@media (max-width: 480px) {
  .col--howitworks {
    width: calc(100% - 30px);
  }
}
.col--features {
  width: 33.3333333333%;
  display: flex;
}
@media (max-width: 767px) {
  .col--features {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .col--features {
    width: calc(100% + 50px);
    margin-left: -25px;
    margin-right: -25px;
  }
}
.col--prizes {
  width: 20%;
  margin-top: 60px;
}
@media (max-width: 976px) {
  .col--prizes {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .col--prizes {
    width: 33.3333333333%;
  }
}
@media (max-width: 600px) {
  .col--prizes {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .col--prizes {
    width: 100%;
  }
}

.section--header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .section--header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.section--hero {
  background: var(--dark);
  color: var(--white);
  padding-top: 110px;
  padding-bottom: 90px;
}
@media (max-width: 767px) {
  .section--hero {
    padding-top: 90px;
    padding-bottom: 220px;
  }
}
.section--form {
  transform: translateY(-50%);
}
.section--numbers {
  background: var(--blue-light);
  padding-top: 20px;
}
@media (max-width: 1200px) {
  .section--numbers {
    padding-top: 40px;
    margin-top: -50px;
  }
}
@media (max-width: 767px) {
  .section--numbers {
    padding-top: 0;
    margin-top: -150px;
  }
}
@media (max-width: 480px) {
  .section--numbers {
    margin-top: -180px;
  }
}
.section--description {
  padding-top: 70px;
  background: var(--blue-light);
}
@media (max-width: 1200px) {
  .section--description {
    padding-top: 50px;
  }
}
.section--howitworks {
  padding-top: 100px;
  padding-bottom: 85px;
}
@media (max-width: 767px) {
  .section--howitworks {
    padding-top: 70px;
  }
}
.section--features {
  padding-top: 50px;
  padding-bottom: 95px;
  background: var(--white);
}
.section--prizes {
  padding-top: 50px;
}
.section--accordeon {
  padding-top: 125px;
  padding-bottom: 200px;
}
@media (max-width: 767px) {
  .section--accordeon {
    padding-top: 90px;
    padding-bottom: 120px;
  }
}
@media (max-width: 480px) {
  .section--accordeon {
    padding-top: 80px;
    padding-bottom: 70px;
  }
}
@media (max-width: 400px) {
  .section--accordeon {
    padding-top: 40px;
  }
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}
.text--hero-heading {
  font-size: 85px;
  line-height: 100%;
  text-align: center;
}
@media (max-width: 1200px) {
  .text--hero-heading {
    font-size: 7vw;
  }
}
@media (max-width: 767px) {
  .text--hero-heading {
    font-size: 50px;
  }
}
@media (max-width: 480px) {
  .text--hero-heading {
    font-size: 40px;
  }
}
.text--hero-subheading {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
}
@media (max-width: 1200px) {
  .text--hero-subheading {
    font-size: 2vw;
  }
}
@media (max-width: 767px) {
  .text--hero-subheading {
    font-size: 14px;
  }
}
.text--checkbox {
  font-size: 13px;
  color: var(--grey-dark);
  margin-left: 10px;
  margin-top: 1px;
}
.text--numbers-item-heading {
  width: 100%;
  color: var(--blue);
  font-weight: 800;
  font-size: 55px;
  text-align: center;
  line-height: 100%;
}
@media (max-width: 976px) {
  .text--numbers-item-heading {
    font-size: 37px;
  }
}
.text--numbers-item-subheading {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 976px) {
  .text--numbers-item-subheading {
    font-size: 17px;
  }
}
.text--description-heading {
  width: 100%;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  line-height: 100%;
  max-width: 850px;
  margin: auto;
}
@media (max-width: 767px) {
  .text--description-heading {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .text--description-heading {
    font-size: 35px;
  }
}
.text--description-subheading {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
  line-height: 125%;
}
@media (max-width: 767px) {
  .text--description-subheading {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .text--description-subheading {
    font-size: 16px;
  }
}
.text--howitworks-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 125%;
}
@media (max-width: 480px) {
  .text--howitworks-heading {
    font-size: 40px;
  }
}
.text--howitworks-item-heading {
  font-size: 30px;
  font-weight: 800;
  line-height: 125%;
  color: var(--blue);
  width: 100%;
}
.text--howitworks-item-subheading {
  font-size: 17px;
  font-weight: 700;
  line-height: 150%;
}
.text--features-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 767px) {
  .text--features-heading {
    font-size: 35px;
  }
}
@media (max-width: 320px) {
  .text--features-heading {
    font-size: 30px;
  }
}
.text--features-item-heading {
  width: 100%;
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  max-width: 850px;
  margin: auto;
}
.text--features-item-subheading {
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
  line-height: 150%;
}
.text--prizes-heading {
  font-size: 40px;
  font-weight: 800;
  line-height: 125%;
  text-align: center;
  background: var(--gradient-pink);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .text--prizes-heading {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  .text--prizes-heading {
    font-size: 27px;
  }
}
.text--prizes-small {
  color: var(--grey-dark);
  font-weight: 700;
  font-size: 20px;
  line-height: 75%;
}
.text--prizes-item-heading {
  font-weight: 700;
  font-size: 30px;
}
.text--prizes-subheading {
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
}
.text--accordeon-heading {
  font-size: 40px;
  font-weight: 800;
  line-height: 125%;
  background: var(--gradient-pink);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .text--accordeon-heading {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  .text--accordeon-heading {
    font-size: 27px;
  }
}
.text--accordeon-item-heading {
  padding-left: 20px;
  line-height: 20px;
}
@media (max-width: 480px) {
  .text--accordeon-item-heading {
    padding-left: 15px;
  }
}
.text--accordeon-item-subheading {
  font-size: 17px;
  line-height: 150%;
  padding-left: 50px;
  max-width: 800px;
  margin-top: 5px;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .text--accordeon-item-subheading {
    padding-left: 45px;
  }
}

.card {
  border-radius: var(--border-radius);
}
.card--outline {
  border: 1px solid var(--blue);
  padding: 25px 20px 40px;
  min-height: 270px;
}
@media (max-width: 976px) {
  .card--outline {
    min-height: 230px;
  }
}
@media (max-width: 767px) {
  .card--outline {
    min-height: 150px;
  }
}
.card--background {
  background: var(--blue);
  color: var(--white);
  padding: 40px;
  height: 100%;
}
@media (max-width: 976px) {
  .card--background {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .card--background {
    padding: 25px;
  }
}
@media (max-width: 320px) {
  .card--background {
    border-radius: 0 !important;
  }
}
.col--features:nth-child(1) .card--background {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
@media (max-width: 767px) {
  .col--features:nth-child(1) .card--background {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}
.col--features:nth-child(2) .card--background {
  border-radius: 0;
  margin: 0 1px;
}
@media (max-width: 767px) {
  .col--features:nth-child(2) .card--background {
    margin: 0;
    border-color: var(--white);
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
}
.col--features:nth-child(3) .card--background {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media (max-width: 767px) {
  .col--features:nth-child(3) .card--background {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}