section.section.section--accordeon
    div.container.container--sm
        h2.text.text--accordeon-heading
            | Conditions and important information
        div.box.box--accordeon-item
            div.box.box--accordeon-visible-part
                div.circle.circle--small
                    div.img.img--plus
                h3.text.text--accordeon-item-heading
                    | Conditions
            div.box.box--accordeon-invisible-part
                p.text.text--accordeon-item-subheading
                    | As a result of participating in the tournament traders will have the opportunity to gain experience dealing with large amounts of capital
        div.box.box--accordeon-item
            div.box.box--accordeon-visible-part
                div.circle.circle--small
                    div.img.img--plus
                h3.text.text--accordeon-item-heading
                    | Cost of participation in the contest
            div.box.box--accordeon-invisible-part
                p.text.text--accordeon-item-subheading
                    | As a result of participating in the tournament traders will have the opportunity to gain experience dealing with large amounts of capital
        div.box.box--accordeon-item
            div.box.box--accordeon-visible-part
                div.circle.circle--small
                    div.img.img--plus
                h3.text.text--accordeon-item-heading
                    | Prizes
            div.box.box--accordeon-invisible-part
                p.text.text--accordeon-item-subheading
                    | As a result of participating in the tournament traders will have the opportunity to gain experience dealing with large amounts of capital
        div.box.box--accordeon-item
            div.box.box--accordeon-visible-part
                div.circle.circle--small
                    div.img.img--plus
                h3.text.text--accordeon-item-heading
                    | Procedure for determining the winner
            div.box.box--accordeon-invisible-part
                p.text.text--accordeon-item-subheading
                    | As a result of participating in the tournament traders will have the opportunity to gain experience dealing with large amounts of capital
        div.box.box--accordeon-item
            div.box.box--accordeon-visible-part
                div.circle.circle--small
                    div.img.img--plus
                h3.text.text--accordeon-item-heading
                    | Where to follow the contest
            div.box.box--accordeon-invisible-part
                p.text.text--accordeon-item-subheading
                    | As a result of participating in the tournament traders will have the opportunity to gain experience dealing with large amounts of capital
        div.box.box--accordeon-item
            div.box.box--accordeon-visible-part
                div.circle.circle--small
                    div.img.img--plus
                h3.text.text--accordeon-item-heading
                    | How to confirm participation
            div.box.box--accordeon-invisible-part
                p.text.text--accordeon-item-subheading
                    | As a result of participating in the tournament traders will have the opportunity to gain experience dealing with large amounts of capital