section.section.section--description
    div.container.container--sm
        h2.text.text--description-heading
            | Are you ready to take your trading skills to the next level?
        p.text.text--description-subheading
            | Then join the $25,000 virtual trading tournament and you could win a prize of up to $1000! All you need to do is fill out the registration form and pay the $98 registration fee. Once you're registered, you'll gain access to a virtual account with $25,000 in virtual funds. Put your skills to the test and you could be one of the lucky 10 traders to receive a prize at the end of the tournament. Don't miss this chance to show off your trading expertise and win big!