section.section.section--features
    div.container.container--sm
        h2.text.text--features-heading
            | Features of the Tournament
        div.row.row--features
            div.col.col--features
                div.card.card--background
                    div.box.box--features
                        h3.text.text--features-item-heading
                            | Learn 2 Earn!
                        p.text.text--features-item-subheading
                            | There is still a chance for you to win prizes even if you do not make profit during the tournament.
                        p.text.text--features-item-subheading
                            | Regardless of whether or not you achieve any particular target, you will still have the opportunity to win prizes
            div.col.col--features
                div.card.card--background
                    div.box.box--features
                        h3.text.text--features-item-heading
                            | Trade larger capital
                        p.text.text--features-item-subheading
                            | As a result of participating in the tournament traders will have the opportunity to gain experience dealing with large amounts of capital
            div.col.col--features
                div.card.card--background
                    div.box.box--features
                        h3.text.text--features-item-heading
                            | Dedicated support team
                        p.text.text--features-item-subheading
                            | Both simply forex and exfor resources provide access to a dedicated support team and trading resources