section.section.section--form
    div.container.container--sm
        div.anchor#contactus
        div.box.box--form
            div.box.box--submit
                div.box.box--inputs
                    input.input.input--text(placeholder="name" type="text")
                    input.input.input--text(placeholder="trading name" type="text")
                    input.input.input--text(placeholder="email" type="email")
                    input.input.input--text(placeholder="phone" type="number")
                button.input.input--button(type="submit")
                    | Register
            div.box.box--radio
                input.input.input--checkbox(type="checkbox")
                p.text.text--checkbox
                    | I accept the terms of the regulatory documents: Privacy Policy, Risk Notice.