header.section.section--header
    div.container.container--lg
        div.box.box--header
            a.link.link--header(href="#howitworks")
                | how it works
            a.link.link--header(href="#howitworks")
                | leaderboard
            a.link.link--header(href="#contactus")
                | contact us
            a.link.link--header(href="#contactus")
                | log in