header.section.section--header
    div.container.container--lg
        div.box.box--header
            button.box.box--hamburger
                span.img.img--line.img--top-line
                span.img.img--line.img--mid-line
                span.img.img--line.img--bot-line
            div.box.box--nav
                a.link.link--header(href="#howitworks")
                    | how it works
                a.link.link--header(href="#howitworks")
                    | leaderboard
                a.link.link--header(href="#contactus")
                    | contact us
                a.link.link--header(href="#contactus")
                    | log in