section.section.section--hero
    div.container.container--sm
        h1.text.text--hero-heading
            | THE SF PREMIER TRADING TOURNAMENT
        p.text.text--hero-subheading
            | POWERED BY EXFOR