section.section.section--howitworks
    div.container.container--md
        div.anchor#howitworks
        h2.text.text--howitworks-heading
            | How it works?
        div.row.row--howitworks
            div.col.col--howitworks
                div.card.card--outline
                    div.box.box--howitworks
                        h3.text.text--howitworks-item-heading
                            | #1
                        p.text.text--howitworks-item-subheading
                            | You enter the contest and follow the rules
            div.col.col--howitworks
                div.card.card--outline
                    div.box.box--howitworks
                        h3.text.text--howitworks-item-heading
                            | #2
                        p.text.text--howitworks-item-subheading
                            | Traders must not exceed a 10% drawdown
            div.col.col--howitworks
                div.card.card--outline
                    div.box.box--howitworks
                        h3.text.text--howitworks-item-heading
                            | #3
                        p.text.text--howitworks-item-subheading
                            | Traders must trade a minimum of 6 LOTS
            div.col.col--howitworks
                div.card.card--outline
                    div.box.box--howitworks
                        h3.text.text--howitworks-item-heading
                            | #4
                        p.text.text--howitworks-item-subheading
                            | Tournament duration 30days
            div.col.col--howitworks
                div.card.card--outline
                    div.box.box--howitworks
                        h3.text.text--howitworks-item-heading
                            | #5
                        p.text.text--howitworks-item-subheading
                            | The tournament will commence once a minimum of 20 traders have registered