section.section.section--numbers
    div.container.container--md
        div.row.row--numbers
            div.col.col--numbers
                div.box.box--numbers
                    h2.text.text--numbers-item-heading
                        | $25,000
                    p.text.text--numbers-item-subheading
                        | VIRTUAL ACCOUNT
            div.col.col--numbers
                div.box.box--numbers
                    h2.text.text--numbers-item-heading
                        | TOP 10 TRADERS
                    p.text.text--numbers-item-subheading
                        | GUARANTEED A PRIZE
            div.col.col--numbers
                div.box.box--numbers
                    h2.text.text--numbers-item-heading
                        | $1000
                    p.text.text--numbers-item-subheading
                        | PRIZE MONEY
            div.col.col--numbers
                div.box.box--numbers
                    h2.text.text--numbers-item-heading
                        | ONLY $98
                    p.text.text--numbers-item-subheading
                        | TOURNAMENT ENTRY FEE