section.section.section--prizes
    div.container.container--sm
        h2.text.text--prizes-heading
            | Simply Forex Trading Tournament Prizes
        div.row.row--prizes
            div.col.col--prizes
                div.box.box--prizes
                    h3.circle.circle--standard
                        | 1
                    div.box--prizes-text
                        p.text.text--prizes-small
                            | 1st place
                        p.text.text--prizes-item-heading
                            | $500
                        p.text.text--prizes-subheading
                            | cash prize
            div.col.col--prizes
                div.box.box--prizes
                    h3.circle.circle--standard
                        | 2
                    div.box--prizes-text
                        p.text.text--prizes-small
                            | 2nd place
                        p.text.text--prizes-item-heading
                            | $300
                        p.text.text--prizes-subheading
                            | cash prize
            div.col.col--prizes
                div.box.box--prizes
                    h3.circle.circle--standard
                        | 3
                    div.box--prizes-text
                        p.text.text--prizes-small
                            | 3rd place
                        p.text.text--prizes-item-heading
                            | $200
                        p.text.text--prizes-subheading
                            | cash prize
            div.col.col--prizes
                div.box.box--prizes
                    h3.circle.circle--standard
                        | 4
                    div.box--prizes-text
                        p.text.text--prizes-small
                            | 4th place
                        p.text.text--prizes-item-heading
                            | $100
                        p.text.text--prizes-subheading
                            | exfor credit
            div.col.col--prizes
                div.box.box--prizes
                    h3.circle.circle--standard
                        | 5
                    div.box--prizes-text
                        p.text.text--prizes-small
                            | 5th place
                        p.text.text--prizes-item-heading
                            | $100
                        p.text.text--prizes-subheading
                            | exfor credit
            div.col.col--prizes
                div.box.box--prizes
                    h3.circle.circle--standard
                        | 6
                    div.box--prizes-text
                        p.text.text--prizes-small
                            | 6th place
                        p.text.text--prizes-item-heading
                            | $100
                        p.text.text--prizes-subheading
                            | exfor credit
            div.col.col--prizes
                div.box.box--prizes
                    h3.circle.circle--standard
                        | 7
                    div.box--prizes-text
                        p.text.text--prizes-small
                            | 7th place
                        p.text.text--prizes-item-heading
                            | $82
                        p.text.text--prizes-subheading
                            | VIP DISCORD
            div.col.col--prizes
                div.box.box--prizes
                    h3.circle.circle--standard
                        | 8
                    div.box--prizes-text
                        p.text.text--prizes-small
                            | 8th place
                        p.text.text--prizes-item-heading
                            | $82
                        p.text.text--prizes-subheading
                            | VIP DISCORD
            div.col.col--prizes
                div.box.box--prizes
                    h3.circle.circle--standard
                        | 9
                    div.box--prizes-text
                        p.text.text--prizes-small
                            | 9th place
                        p.text.text--prizes-item-heading
                            | $29
                        p.text.text--prizes-subheading
                            | VIP DISCORD
            div.col.col--prizes
                div.box.box--prizes
                    h3.circle.circle--standard
                        | 10
                    div.box--prizes-text
                        p.text.text--prizes-small
                            | 10th place
                        p.text.text--prizes-item-heading
                            | $29
                        p.text.text--prizes-subheading
                            | VIP DISCORD